<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Redis.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="icon" href="/images/favicon/redis-favicon-16.png" sizes="16x16">
    <link rel="icon" href="/images/favicon/redis-favicon-32.png" sizes="32x32">
    <link rel="icon" href="/images/favicon/redis-favicon-48.png" sizes="48x48">
    <link rel="icon" href="/images/favicon/redis-favicon-64.png" sizes="64x64">
    <link rel="icon" href="/images/favicon/redis-favicon-128.png" sizes="128x128">
    <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald">
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div id="page" class="container">
      {{ content }}
    </div>
  </body>
</html>
